.highOrderLayout {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: calc(100vh - 70px);
}
.sidebar {
  flex: 0 0 200px;
  max-width: 200px;
  transition: all 0.5s ease;
  margin-left: 0;
}
.wrapper {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.hide .sidebar {
  /* margin-left: -200px; */
}
.open .sidebar {
  /* margin-left: 0; */
  /* transition: margin 2s ease; */
}
body.dashboard {
  overflow: hidden;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
