/* LOGIN STYLES */
.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.login {
  background-color: #fafafa;
  box-shadow: 0px 0px 48px #2c2c2c33;
  border-radius: 30px 0px 0px 30px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 566px;
}
.login__wrap {
  max-width: 340px;
  margin: 0;
}
.login__header {
  margin: 0 0 45px;
  color: #b3b3b3;
  font-size: 14px;
}
.login__header h1 {
  margin: 0 0 16px;
  font-family: 'proxima_novabold', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  color: #2c2c2c;
}
.login__header h1 .logo {
  margin-left: 5px;
}
.login__header p {
  margin: 0;
}
.login__form .button {
  padding: 0 54px;
}
.login__form--extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.login__form--extra a {
  font-family: 'proxima_novabold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.66px;
  color: #8e8e8e;
  text-decoration: none;
}
